@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

.container{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.div-nav{
    background-color: rgb(21, 22, 22);
    width: 100vw;
    height: 4em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
.div-logo img {
    height: 35px;
}
.div-logo{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
}
.div-menu{
    background-color: rgb(21, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-menu a{
    padding: 0px 2em 0px 0px;
    
    
}
.div-menu a > p:hover{
    color: rgb(204, 201, 201);
    border-top: 3px solid rgb(255, 255, 255);
    padding: 1.3em 0;
}
/*Inicio*/

.inicio{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 29em;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 12, 0);
    
}
.inicio img {
    /*width: 100px; DIMINUIR*/
    width: 100%;
    
}
.div-img{
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0.9rem;
}

.container-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.div-nome{
    margin-bottom: 1rem;
}
.div-nome h1, h2{
    color: black;
}
.div-oqsou{
    border: 1px solid black;
    padding: 0.3em;
    margin-bottom: 2rem;
}

.btn-curriculo button{
    border: none;
    background-color: rgb(22, 22, 24);
    padding: 0.5em;
    font-size: 18px;
    border-radius: 6px;
    
}
.btn-curriculo button:hover{
    background-color: rgb(52, 52, 54);
    box-shadow: 1px 1px 3px rgb(29, 29, 43);
    cursor: pointer;
}

#anc-abt-me{
    height: 25em;
    
}
.container-abt-me{
    margin-top: 3em;
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 28em;
    
}
.sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    
}
.sobre-mim h1{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(221, 221, 221);
    
}

.tituloskills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 13em;
    border-top: 1px solid rgb(0, 12, 0);
}

.tituloskills h2{
    border-bottom: 2px solid rgba(27, 27, 27, 0.288);
    border-top: 2px solid rgba(27, 27, 27, 0.288);
    padding: 1px;
    color: rgb(27, 27, 27);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.containerskill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
}
.imgskill img{
    height: 7em;

}
.imgskill{
    position: relative;
    padding: 0em 4em
    
}
.imgskill h2{
    font-family: 'Oswald', sans-serif;
    color: rgb(27, 27, 27);
    margin-bottom: 4em;
}

.titulo-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2em;
    margin-top: 1em;
}
.titulo-projetos h2{
    font-family: 'Oswald', sans-serif;
    color: rgb(27, 27, 27);
    font-size: 27px;
    border-bottom: 2px solid rgba(27, 27, 27, 0.288);
    border-top: 2px solid rgba(27, 27, 27, 0.288);
    padding: 5px;
}

#cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
.cards h3{
    font-family: 'Oswald', sans-serif;
    color: rgb(27, 27, 27);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.cards p{
    font-family: 'Oswald', sans-serif;
    color: rgb(27, 27, 27);
    font-size: 20px;
    text-align: center;
    padding: 35px;
    text-transform: uppercase;
}
.cards{
    box-shadow: 1px 1px 1px 2px rgb(173 173 173 / 77%);;
    border-radius: 5px;
    padding: 3em;
    margin: 1.5em;
}

.imgproject{
    border: 1px solid black;
    width: 20em;
    height: 14em;
    position: relative;
}

.contato{
    background: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 20em;
}

.meus-contatos h1{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 25px;
    margin-bottom: 25px;
}
.email p{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.email p > a{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.whatsapp p{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.whatsapp p > a{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.linkedin p{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.linkedin p > a{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.github p{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.github p > a{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 5em;
}
.footer h2{
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 10px;
    
}
/*Mobile*/
@media screen and (min-width: 300px) and (max-width: 812px) {
    .div-nav{
       justify-content: right; 
       
    }
    .div-logo img{
        height: 1.5em;
    }
    .div-logo{

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .div-menu {
        margin: auto;
    }
    .div-menu a{
       padding: 5px;
       font-size: 15px;
    }

    .div-img{
        border-radius: 50%;
        width: 8em;
        height: 8em;
    }
    .div-nome{
        margin-bottom: 1.2rem;
    }
    .div-nome h1, h2{
        font-size: 17px;
    }
    .div-oqsou{
        padding: 8px;
        margin: 10px;
        margin-bottom: 2em;
    }
    .btn-curriculo button{
        font-size: 15px;   
    }
    .inicio{
        height: 25em;
        width: 100vw;
    }

    .sobre-mim{
        padding: 2em;
    }
   
    .texto{
        font-size: 17px;
        padding: 0 1em;
    }
    .containerskill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .imgskill img{
        height: 6em;
    
    }
    .imgskill h2{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
    }

    .tituloskills{
        margin-top: 18em;
    }

    .container-abt-me{
        width: 100vw;
        height: 33em;  
    }

    .cards{
        padding: 1em;
        margin: 2em;
    }
    
    .imgproject{
        width: 100%;
    }
    .cards p{
        font-size: 18px;
        padding: 20px;
    }


    .meus-contatos h1{
        font-size: 20px;
        padding: 10px;
    }
   
    .email p > a, .whatsapp p > a, .linkedin p > a, .github p > a{
        font-family: 'Oswald', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 17px;
    }
    .email p, .whatsapp p, .linkedin p, .github p{
        font-family: 'Space Mono', monospace;
        color: rgb(255, 255, 255);
        font-size: 17px;
    }
    /*AJUSTE MARGIN*/

    .footer, .contato, #cards, .titulo-projetos, .tituloskills, .containerskill  {
        width: 100vw;
    }
    .footer h2{
        font-size: 12px;
        
    }
    
}

@media screen and (min-width: 970px) and (max-width: 1059px) {
    .container-abt-me{
        height: 29em;  
    }
    .containerskill{
        display: flex;
        flex-wrap: wrap;
      
    }
    .imgskill img{
        height: 10em;
    
    }
    .imgskill h2{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
    }
}

@media screen and (min-width: 813px) and (max-width: 969px) {
    .container-abt-me{
        height: 31em;  
    }
    .containerskill{
        display: flex;
        flex-wrap: wrap;
      
    }
    .imgskill img{
        height: 10em;
    
    }
    .imgskill h2{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
    }
   
}

@media screen and (min-width: 678px) and (max-width: 811px) {
    .container-abt-me{
        height: 24em;  
    }
    .tituloskills{
        margin-top: 9em;
    }
    .containerskill{
        display: flex;
        flex-wrap: wrap;
      
    }
    .imgskill img{
        height: 8em;
    
    }
    .imgskill h2{
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    .div-menu{
       display: flex;
       justify-content: center;
       padding-right: 3em;
    }
}

@media screen and (min-width: 610px) and (max-width: 677px) {
    .container-abt-me{
        height: 27em;  
    }
    .tituloskills{
        margin-top: 12em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    .div-menu{
        display: flex;
        justify-content: center;
        padding-right: 3em;
     }
}

@media screen and (min-width: 527px) and (max-width: 609px) {
    .container-abt-me{
        height: 29em;  
    }
    .tituloskills{
        margin-top: 14em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    .div-menu{
        display: flex;
        justify-content: center;
        padding-right: 3em;
     }
}

@media screen and (min-width: 458px) and (max-width: 526px) {
    .container-abt-me{
        height: 30em;  
    }
    .tituloskills{
        margin-top: 15em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    .div-menu{
        display: flex;
        justify-content: center;
        padding-right: 3em;
     }
}

@media screen and (min-width: 425px) and (max-width: 457px) {
    .container-abt-me{
        height: 31em;  
    }
    .tituloskills{
        margin-top: 16em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    .div-menu{
        display: flex;
        justify-content: center;
        padding-right: 3em;
     }
}
@media screen and (min-width: 367px) and (max-width: 424px) {
    
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    
}
@media screen and (min-width: 332px) and (max-width: 366px) {
    .container-abt-me{
        height: 30em;  
    }
    .texto{
        font-size: 15px; 
    }
    .tituloskills{
        margin-top: 15.5em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    
}
@media screen and (max-width: 331px)  {
    .container-abt-me{
        height: 30em;  
    }
    .texto{
        font-size: 15px; 
    }
    .tituloskills{
        margin-top: 15.5em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    
}
@media screen and (max-width: 322px)  {
    .container-abt-me{
        height: 35em;  
    }
    .texto{
        font-size: 15px; 
    }
    .tituloskills{
        margin-top: 20em;
    }
    .div-menu a > p:hover{
        color: rgb(204, 201, 201);
        border-top: 3px solid rgb(255, 255, 255);
        padding: 1em 0 1.2em 0;
    }
    
}
